<div class="fh5co-narrow-content">
    <div class="row">
      <div class="col-md-5">
        <app-onama-pipes></app-onama-pipes>
      </div>
      <div>
        <img src="assets/images/img_1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"> 
      </div>
    </div>
    
  </div>

  <div class="fh5co-narrow-content">
     <p style="text-align: center;margin-left: -70px;font-size: 35px;">Naš tim</p>
    <div class="row" [@scrollAnimation]="state">
      <div class="col-md-4 fh5co-staff">
        <img src="assets/images/re.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        <h3>Jovan Raketić</h3>
        <h4>Menadžer</h4>
     
        <ul class="fh5co-social">
          <li><a href="#"><i class="icon-google"></i></a></li>
          <li><a href="#"><i class="icon-dribbble"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4 fh5co-staff">
        <img src="assets/images/osoba2.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        <h3>Luka Arsenijević</h3>
        <h4>Dizajner</h4>
        
        <ul class="fh5co-social">
          <li><a href="#"><i class="icon-google"></i></a></li>
          <li><a href="#"><i class="icon-dribbble"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4 fh5co-staff">
        <img src="assets/images/osoba3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        <h3>Goran Obradović</h3>
        <h4>Dizajner</h4>
       
        <ul class="fh5co-social">
          <li><a href="#"><i class="icon-google"></i></a></li>
          <li><a href="#"><i class="icon-dribbble"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
 
      
  </div>
  </div>