<div class="fh5co-testimonial" >
    <div class="fh5co-narrow-content" [@scrollAnimation]="state">
         <div>
            <div class="item">
              <figure>
                <img  src="assets/images/testimonial_person2.jpg" alt="Free HTML5 Bootstrap Template">
              </figure>
                <p  class="text-center quote">&ldquo;Dizajn mora biti funkcionalan i funkcionalnost mora biti prevedena u vizuelnu estetiku, bez ikakvog oslanjanja na trikove koje treba objasniti. &rdquo; <cite class="author">&mdash; Ferdinand A. Porsche</cite></p>
            </div>
            <div class="item">
              <figure>
                <img src="assets/images/testimonial_person3.jpg" alt="Free HTML5 Bootstrap Template">
              </figure>
                <p class="text-center quote">&ldquo; Kreativnost samo povezuje stvari. Kada pitate kreatore kako su nešto uradili, osećaju se malo krivim jer to stvarno nisu učinili, samo su videli nešto. Nakon nekog vremena izgledalo je očigledno.
                  &rdquo;<cite class="author">&mdash; Steve Jobs</cite></p>
            </div>
            <div class="item">
              <figure>
                <img src="assets/images/testimonial_person4.jpg" alt="Free HTML5 Bootstrap Template">
              </figure>
                <p class="text-center quote">&ldquo;Mislim da bi dizajn bio bolji ako bi dizajneri bili mnogo skeptičniji u pogledu svojih aplikaicja. &rdquo;<cite class="author">&mdash; Frank Chimero</cite></p>
            </div>
          </div>
  </div>


  <div class="fh5co-narrow-content">
    <h2>Izrada grafickog dizajna i nacrta automobila </h2>
    <div class="row">
      <div class="col-md-6">
        <div class="fh5co-feature animate-box" [@scrollAnimation]="state">
          <div class="fh5co-icon">
            <img src="assets/images/13.png" alt="Free HTML5 Bootstrap Template">
          </div>
          <div class="fh5co-text">
            <h3>Timski rad</h3>
            <p>Usvajanje različitih tehnika i načina kako da dostignete zadovoljavajuću adaptaciju u okviru tima, formiranje pozicije unutar njega i stvaranja timske atmosfere koja će doprineti da se zajednički dostignu odlični rezultati. </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="fh5co-feature animate-box" [@scrollAnimation]="state">
          <div class="fh5co-icon">
            <img src="assets/images/14.png" alt="Free HTML5 Bootstrap Template">
          </div>
          <div class="fh5co-text">
            <h3>Izrada</h3>
            <p>Izrada nacrta i 3D vizuelnih automobila svih vrsta.Prikaz velikog broja koncepata izleda savremenih automobila.Srebrni automobil, kojeg je vozio glumac Sean Connery, postao je jedan od najpoznatijih automobila na svijetu zahvaljujući filmu Goldfinger koji je snimljen 1964. godine. </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="fh5co-feature animate-box" [@scrollAnimation]="state">
          <div class="fh5co-icon">
            <img src="assets/images/15.png" alt="Free HTML5 Bootstrap Template">
          </div>
          <div class="fh5co-text">
            <h3>Komunikacija</h3>
            <p>Dobra komunikacija i komunikacione veštine su esencijalni karakteristike svakog grafičkog dizajnera. Kreiranje lepih slika je dobra stvar, međutim, najvažniji trenutak dizajnerskog procesa se dešava mnogo pre nego što krene da se crta.  </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="fh5co-feature animate-box" [@scrollAnimation]="state">
          <div class="fh5co-icon">
            <img src="assets/images/16.png" alt="Free HTML5 Bootstrap Template">
          </div>
          <div class="fh5co-text">
            <h3>Potražnja</h3>
            <p>Potražnja za grafičkim dizajnerima na tržištu svakodnevno raste, pre svega, zbog veoma važne uloge koju ovi stručnjaci imaju u kreiranju brenda, odnosno ogromnog profita koji donose kompanijama. </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="fh5co-cards">
    <div class="fh5co-narrow-content">
      <h2>Saradnja</h2>

      <div class="fh5co-flex-wrap">
        <div>
          <h5>Iskustvo</h5>
          <p>Najveće iskustvo smo stekli poslujući sa jednom od naših najvećih saradnika kompanijom AutoČačak.</p>
          <p><a href="#" class="btn btn-md btn-primary">Pročitaj više</a></p>
        </div>
        <div>
          <h5>Auto Čačak Škoda</h5>
          <p>Kompanija AutoČačak očekuje dolazak redizajnirane verzije jednog od najprodavanijih ŠKODA modela u Srbiji. Reč je o modelu Fabia, a prvi primerci će početi da stižu u ŠKODA salone već u septembru. Zvanična promocija i predstavljanje modela Fabia će se održati u okviru Lady fair-a 8. i 9. septembra ispred TC Ušće.</p>
          <p><a href="#" class="btn btn-md btn-primary">Pročitaj više</a></p>
        </div>

      </div>	
      
    </div>
  </div>
 

